.App {
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

body {
	background: #141414;
	color: #ffffff;
}

.col {
  width: 1000%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  text-transform: uppercase;
}
.movieContainer{

  display: flex;
  flex-direction: column;
  align-items: center;
}
  

.movieContainer > h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  width: 200px;
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  