.App {
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

body {
	background: #141414;
	color: #ffffff;
}

.col {
  width: 1000%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  text-transform: uppercase;
}
.movieContainer{

  overflow: auto;
  flex-wrap: nowrap;
}

.movieContainer:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.movieContainer > h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  width: 200px;
}


.overlay {
  position: relative;
}

.overlay img {
  display: block; /* Make sure the image is a block element */
  width: 100%;
  height: auto;
}

.overlay .overlayContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.overlay:hover .overlayContent {
  opacity: 1;
}


  
  
  
  
  
  
  
  
  
  
  
  
  
  
  